.mb-42 {
  margin-bottom: 42px !important;
}

.slider:not(.right-btn-inside) {
  padding-right: 28px;
  margin-right: -28px;
}

.slider {
  position: relative;
  padding-left: 28px;
  margin-left: -28px;
}

.slider-items-wrapper {
  overflow: hidden;
  padding-top: 4px;
}

.slider-items {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* .custom-next-arrow {
  position: absolute;

  left: 95%;
  bottom: 60%;
} */

/* .custom-prev-arrow {
  position: absolute;
  right: 95%;
  z-index: 2;
  top: 50%;
  
} */
