.cinema-schedule {
  min-width: 1208px;
  position: relative;
  box-sizing: border-box;
}
.cinemas-schedule.halls .cinemas-schedule-head {
  height: 40px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 2;
}
.cinema-schedule-head {
  height: 40px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.cinema-schedule-head:hover {
  background-color: #f1f1f1;
}

.cinema-schedule-head:not(.cinema) .container {
  display: flex;
  justify-content: stretch;
}

.container {
  width: 100%;
  max-width: 1152px;
  min-width: 1152px;
  margin: 0 auto;
  padding-left: 28px;
  padding-right: 28px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.cinema-schedule-head:not(.cinema) .container > div {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cinema-schedule-body {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-bottom: 80px;
  overflow-y: hidden;
  min-width: 1152px;
}
.cinemas-schedule.halls .cinemas-schedule-head .container {
  display: flex;
  justify-content: stretch;
}
.cinema-schedule-row {
  display: flex;
  padding: 16px 0;
  align-items: center;
}
.cinema-schedule-row > div:not(.cinema-cell) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  width: 10%;
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
}

.schedule-time {
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  width: 96px;
  min-width: 96px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cinema-schedule-row > div:not(.cinema-cell).block {
  display: block;
  width: 20%;
}

.cinema-schedule .cinema-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  text-align: center;
}
.cinema-schedule .cinema-title > a {
  font-weight: 700;
}

.link {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.cinema-schedule .cinema-subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #888;
  font-weight: 400;
}
.cinema-schedule-row > div:not(.cinema-cell).row-divider {
  border-right: 1px solid #ccc;
  height: 55px;
}

.cinema-schedule-row .session-lang-tag {
  width: 60px;
  height: 30px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.cinema-schedule-row-wrapper .cinema-sessions-cells {
  width: 84%;
}